{% extends "base.html" %}

{% block content %}
<h1 class="title">Django user email authentication</h1>
<p>This is a Django application providing all essentials for authenticating users
based on email addresses instead of usernames.</p>
<p>A distinctive (novel?) feature of this application is that it allows to assign
several email addresses to each user.</p>
<p>This application consists of:</p>
<ul class="simple">
<li>UserEmail model</li>
<li>Views and forms:<ul>
<li>Login;</li>
<li>Password reset;</li>
<li>Account management:<ul>
<li>User registration and email confirmation;</li>
<li>Adding and removing emails to/from existing user accounts;</li>
<li>Changing default emails</li>
</ul>
</li>
</ul>
</li>
<li>Authentication backends:<ul>
<li>Email backend for authenticating users who has UserEmail object (regular
site users);</li>
<li>Fallback backend for users without such objects (most likely that will be
site administration)</li>
</ul>
</li>
</ul>
<div class="section">
<h1><a id="motivation-for-this-application" name="motivation-for-this-application">Motivation for this application</a></h1>
<p>For some reason I was lucky to work on projects which required email-based
authentication, and one of these projects could benefit if users could have
several emails.</p>
<p>To solve basic authentication problem I quickly came up with this:
<a class="reference" href="http://www.djangosnippets.org/snippets/74/">http://www.djangosnippets.org/snippets/74/</a></p>
<p>That trick works but it has several drawbacks:</p>
<ul class="simple">
<li>It breaks standard Django tests, so when you run python manage.py test on
your project you'll have to filter out error messages from broken Django
tests. Not good.</li>
<li>Standard Django login view can't handle long (longer than 30 characters)
email addresses.</li>
<li>If you put email verification status and all such into UserProfile class you
tie code working with emails to your project impairing code reuse.</li>
</ul>
<p>To solve above problems I decided to create this application. It stores all
email-specific data into UserEmail model (verification code, code creation
date, verification status etc.) So this application manages all email-related
data, not messing with UserProfile and saves application user from reinventing
the wheel.</p>
</div>
<div class="section">
<h1><a id="example-project" name="example-project">Example project</a></h1>
<p>To see this application in action:</p>
<pre class="literal-block">
cd emailauth/example
python manage.py syncdb
python manage.py runserver
</pre>
<p>Please bear in mind that all emails sent by example project are not actually
sent but printed to stdout instead.</p>
</div>
<div class="section">
<h1><a id="future-plans" name="future-plans">Future plans</a></h1>
<ul class="simple">
<li>Maybe add a configuration option which will switch application between one
user - many emails mode and more traditional one user - one email mode.</li>
<li>Add EAUT and OpenID support so this application could be used for OpenID
authentication and switch to emails for users without OpenID</li>
</ul>
</div>
{% endblock %}
