{% extends "base.html" %}{% load i18n %}

{% block content %}
    <h1>{% trans 'Account properties' %}</h1>
    <table>
        <tr>
            <th>{% trans 'Username:' %}</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>{% trans 'First name:' %}</th>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <th>{% trans 'Email:'%}</th>
            <td>{{ user.email }}</td>
        </tr>
    </table>
    <a href="{% url emailauth_change_email %}">{% trans 'Change email' %}</a>

{% endblock %}
