{% extends "base.html" %}

{% block content %}
    <h1>Confirm your email</h1>
    <p>
        We've sent an email to <strong class="highlight">{{ email }}</strong> containing a link
        you'll need to follow to verify your account. You should receive the
        email within the next few minutes.
    </p>
    <h2>Didn't get the email?</h2>
    <p>
        Below are some of the most common reasons you might not be getting the message:
        <ul>
            <li>First, be patient, sometimes it takes a while for the email to arrive.</li>
            <li>Check above to ensure that you entered your email address correctly.</li>
            <li>Check your junk email box, the message might have been filtered as junk.</li>
        </ul>
    </p>
{% endblock %}
